/dist/
dist/
/dist/index.html
dist/index.html
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.env
.vscode/
*.code-workspace
.idea/
*.iml
*.sublime-*
*.sublime-project
*.sublime-workspace
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
.directory
*~
*.log
*.tmp
*.temp